/* .Navigation{
  margin: 5px;
  background-color: #BFCCB5;
  backdrop-filter: blur(10px);

} */
.logo{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  transition: transform 0.3s ease;
  cursor: auto;
}
.logo:hover{
  transform: scale(1.2);
}
.nav-l{
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}
.nav-l:hover{
  transform: scale(1.2);
}
.nav-l2{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}
.nav-l2:hover{
  transform: scale(1.1);
}
.sec_div{
  background-image: url(../Imagies/BG.jpg);

  height: 550px;
  /* width: auto; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
}
.anchor{
  font-family: 'Square Peg', cursive;
  color: black;
}
.cards{
  position: absolute;
  display: flex;
  text-align: center;
   bottom: 0;
   width: 100px;
   margin-left: 45px;
}
.About{
  text-align: center;
}
.div{
  /* float: right; */
  display: inline-block;
  /* display: flex; */
  margin: 10px;
  padding: 5px;
  border: 3px solid ;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;

}
.div:hover{
  transform: scale(1.1);

}
.text_set{
  text-align: center;
}
.text{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   font-weight: bold;
   font-size: 2.8rem;
  color: white;
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Dancing Script', cursive;
/* font-family: 'Mogra', cursive; */
}
.a{
    text-align: center;
  }
.about{
  text-align: center;
  /* background-color: #B3C890; */
  /* background-color: #BFCCB5; */

}
.h3{
  color: white;
    font-family: 'Square Peg', cursive;
    transition: transform 0.3s ease;
}
.h3:hover{
  color: black;
}
.radi{
  border-radius: 15px;
}
