body{
  background-image: url(../Imagies/yogaback2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  /* width: 100%; */
}
.inner{
  display: flex;
  border: 2px solid white;
  border-radius: 20px;
  backdrop-filter: blur(10px);

  padding: 20px;
  margin: 20px;
}
h1{
  margin: 10px;
}
.div1{
  flex-basis: 20%;
}
.ima{
  border-radius: 10px;
  cursor: pointer;
}
.div2{
  flex-basis: 90%;
  color: white;
}
p{
  font-size: 1.2rem;
  margin: 2px;
}
